.flex-accordion{
    display: flex;
    justify-content: space-between;
}

.accordion-button{
    background-color: transparent;
    border: none;
    color: firebrick;
    font-size: larger;
}

.panel_display{
    border: 1px solid black; 
    padding: 5px; 
    margin:0px 10px;
}

.h3_display{
    color: blue;
}
